<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title>Home Page</title>
  </head>
  <body>
  

    {{>user_navbar}}

    <section id="intro">
        <div class="heading"> All our dreams can come true if we have the courage to pursue them. </div>
        <div class="para">The average person puts only 25% of his energy into his work.
            The world takes off its hat to those who put in more than 50% of their capacity,
            and stands on its head for those few and far between souls who devote 100%</div>
    </section>
    <div id="middle">
        <!-- <div class="heading"> Register & Activity </div> -->
        <h1 class="pre-head">Register And Activity</h1>
        <!-- <div class="para"></div> -->
        <div class="mid">
            <div class="card" style="width: 31rem;">
              <img class="card-img-top" src="../css/img/d1.jpeg" alt="Card image cap">
          </div>
          <div class="card" style="width: 26rem;">
              <img class="card-img-top" src="../css/img/d2.png" alt="Card image cap">
          </div>
          <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="../css/img/d3.png" alt="Card image cap">
          </div>
        </div>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>